/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background: url('../images/background3.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Nanum Gothic', sans-serif;
	
}

#container{
	
	background: #212529;
	color: white;
	width:424px;
	height: 900px;
	padding: 10px;
	padding-top: 0%;
	
}



h1{
	font-size: 60px;
	margin-bottom: -2px;
}
h2{
	background: #4895ef;
	color: black;
	padding:5px;
	border-radius: 5px;
}
a{
	color: #4895ef;
	text-decoration: none;
}

#video{
	position: absolute;
	margin-left: auto;
	left: 50%;
}

#profile{
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: -20px;
  text-decoration: none;
}
